@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat.ttf") format('truetype');
  }

@font-face {
font-family: "Blinker";
src: url("../assets/fonts/Blinker.ttf") format('truetype');
}

.page{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

/* Top Section Styling */

.top-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .75fr;
    grid-template-areas: 
        'overview pic';
    align-items: baseline;
}

.top-section .overview{
    grid-area: overview;
    margin-right: 1.5em;
}

.top-section h1{
    font-size: 3.125rem;
    font-weight: 600;
    font-family: "Montserrat", "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    
}

.top-section p{
    font-size: 1.5rem;
    font-family: "Blinker", "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    padding-top: 1.2em;
    align-self: stretch;
    margin-right: 1em;
}

.top-section img{
    grid-area: pic;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 85%;
}

.middle-section{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    font-family: "Blinker", "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;

}

.middle-section .middle-container{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.middle-section .middle-container .middle-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'Goals Role'
        'Goals Tools';
    
    /* place-items: center; */

    padding-top: 3.5em;
    padding-bottom: 3.5em;
    
}

.middle-grid h2{
    font-size: 1.5rem;
    margin-right: 1em;
    padding-bottom: .5em;
    text-decoration: underline;
}

.middle-grid p{
    font-size: 1.2rem;
    margin-right: 1.5em;
    padding-bottom: 1.75em;
}


.middle-container .goal{
    grid-area: Goals;
    font-family: "Blinker", "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    border-right: 3px solid white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    

.middle-container .role h2,
.middle-container .tools h2,
.middle-container .role p,
.middle-container .tools p
{
    margin-left: 50px;
}



.middle-grid .role{
    grid-area: Role;
    border-bottom: 3px solid white;
    
}

.middle-grid .tools{
    grid-area: Tools;
}

.middle-grid .tools h2{
    grid-area: Tools;
    margin-top: 1rem;
}